<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Loja - Lucas</title>
    
</head>
<body>
    
    <div id="layout">
        <ul id="ul_left">
            <li><a href="/cliente_admin"><b>Clientes</b></a></li>
            <li><a href="/produto_admin"><b>Produtos</b></a></li>
            <li><a href="/categoria_admin"><b>Categorias</b></a></li>
            
            <li style="float: right;"><a href="/login"><b>Logout</b></a></li>
        </ul>
        <br>
        <h1 href="/backend" style="text-align: center">BackOffice Main</h1>
        <br><br>

        
        <div class="content" style="margin: auto; text-align: center;">
            
<!--             
            <hr>
            
            <div style="text-align: center;">
                <h3>Asus Transformer Book</h3>
                <img src="static\images\Asus-Transformer-Book-T101HA-X5DHD.jpg" alt="Asus Transformer book">
                <br>
                <br>
                <div>
                    <span>Preço: 1100.00€ </span> <span> | </span> <span><a id="btnComprar" href=""> Comprar</a></span>
                    <br><br>
                </div>
            </div>
            <hr>

            <div style="text-align: center;">
                <h3>Galaxy Note 9</h3>
                <img style="max-width:28%; max-height:28%;" src="static\images\galaxy-note9.jpg" alt="Galaxy Note 9">
                <br>
                <br>
                <div>
                    <span>Preço: 980.00€ </span> <span> | </span> <span><a id="btnComprar" href=""> Comprar</a></span>
                    <br><br>
                </div>
            </div>
            <hr>
            
            <div style="text-align: center;">
                <h3>Hibrido-Lenovo-Miix</h3>
                <img src="static\images\Hibrido-Lenovo-Miix-320-x5-Z8350-4GB-10-1.jpg" alt="Hibrido-Lenovo-Miix">
                <br>
                <br>
                <div>
                    <span>Preço: 1210.00€ </span> <span> | </span> <span><a id="btnComprar" href=""> Comprar</a></span>
                    <br><br>
                </div>
            </div>
            <hr>
            
            <div style="text-align: center;">
                <h3>Hibrido-Trekstor-Surftab-Twin</h3>
                <img src="static\images\Hibrido-Trekstor-Surftab-Twin-10-1-2017-x5-Z8350-2GB-10-1.jpg" alt="Hibrido-Trekstor-Surftab-Twin">
                <br>
                <br>
                <div>
                    <span>Preço: 870.00€ </span> <span> | </span> <span><a id="btnComprar" href=""> Comprar</a></span>
                    <br><br>
                </div>
            </div>
            <hr>
            
            <div style="text-align: center;">
                <h3>HP-11</h3>
                <img src="static\images\HP-11-y001np-N3060-32GB-11-6.jpg" alt="HP-11">
                <br>
                <br>
                <div>
                    <span>Preço: 1230.00€ </span> <span> | </span> <span><a id="btnComprar" href=""> Comprar</a></span>
                    <br><br>
                </div>
            </div>
            <hr>
            
            <div style="text-align: center;">
                <h3>Huawei-p20-Pro</h3>
                <img src="static\images\huawei-p20-pro.jpg" alt="Huawei-p20-Pro">
                <br>
                <br>
                <div>
                    <span>Preço: 967.00€ </span> <span> | </span> <span><a id="btnComprar" href=""> Comprar</a></span>
                    <br><br>
                </div>
            </div>
            <hr>
            
            <div style="text-align: center;">
                <h3>LG G7 Think</h3>
                <img src="static\images\lg-g7-think.jpg" alt="LG G7 Think">
                <br>
                <br>
                <div>
                    <span>Preço: 1020.00€ </span> <span> | </span> <span><a id="btnComprar" href=""> Comprar</a></span>
                    <br><br>
                </div>
            </div>
            <hr>
            
            <div style="text-align: center;">
                <h3>Xiaomi Mi 2s</h3>
                <img src="static\images\xiaomi-mi-2s.jpg" alt="Xiaomi Mi 2s">
                <br>
                <br>
                <div>
                    <span>Preço: 790.00€ </span> <span> | </span> <span><a id="btnComprar" href=""> Comprar</a></span>
                    <br><br>
                </div>
            </div>
             -->

        </div>
        <br><br><br><br><br>

        
        <footer id="rodape">
            <table id="tableFooter">
                
                <tr class="tr1F">
                    <th id="th1"><b>Para Contactar o Aluno: </b></th>
                    <td class="td1footer">
                        <li id="emailSite">
                            <a href="mailto:aluno220204@epad.edu.pt">aluno220204@epad.edu.pt</a>
                        </li>
                    </td>
                </tr>
                <br>
    
                
                <tr class="tr2F">
                    <th id="th2"><b>A Escola EPAD: </b></th>
                    <td class="td2footer">
                        <li id="emailSite">
                            <div class="divTeste">
                                <a href="https://www.epad.edu.pt/">epad.edu.pt</a>
                            </div>
                        </li>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

</body>
</html>
