<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Loja - Lucas</title>
    
</head>
<body>
    
    <div id="layout">
        <ul id="ul_left">
            <li><a href="/cliente_admin"><b>Clientes</b></a></li>
            <li><a href="/produto_admin"><b>Produtos</b></a></li>
            <li><a href="/categoria_admin"><b>Categorias</b></a></li>
            
            <li style="float: right;"><a href="/login"><b>Logout</b></a></li>
        </ul>
        <br>
        <h1 href="/backend" style="text-align: center">Clientes</h1>
        <br><br>

        
        <div class="content" style="margin: auto; text-align: center;">
            <table class="table">
                <tr class="table_header">
                    <th class="table_cell">Nome</th>
                    <th class="table_cell">Morada</th>
                    <th class="table_cell">Email</th>
                 </tr>
                 {% for cliente in clientes %}
                 {% for user in users %}
                 {% if (user.id==cliente.utilizadorId) %}
                    <tr class="table_row">
                        <td class="table_cell">{{cliente.nome}}</td>
                        <td class="table_cell">{{cliente.morada}}</td>
                        <td class="table_cell">{{user.email}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </table>
           

        </div>
        <br><br><br><br><br>

        
        <footer id="rodape">
            <table id="tableFooter">
                
                <tr class="tr1F">
                    <th id="th1"><b>Para Contactar o Aluno: </b></th>
                    <td class="td1footer">
                        <li id="emailSite">
                            <a href="mailto:aluno220204@epad.edu.pt">aluno220204@epad.edu.pt</a>
                        </li>
                    </td>
                </tr>
                <br>
    
                
                <tr class="tr2F">
                    <th id="th2"><b>A Escola EPAD: </b></th>
                    <td class="td2footer">
                        <li id="emailSite">
                            <div class="divTeste">
                                <a href="https://www.epad.edu.pt/">epad.edu.pt</a>
                            </div>
                        </li>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

</body>
</html>
