<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Loja - Lucas</title>
    
</head>
<body>
    
    <div id="layout">
        <ul id="ul_left">
            <li><a href="/frontend"><b>HOME</b></a></li>
            {% for c in categorias %}
            <li><a  href="{{url_for('tel_front', idCategoria=c.id)}}"><b>{{c.descricao}}</b></a></li>
            {% endfor %}
            <li style="float: right;"><a href="/login"><b>Logout</b></a></li>
        </ul>
        <br>
        <h1 style="text-align: center">Fatura</h1>
        <br><br>

        
        <d class="content" style="margin: auto; text-align: center;">
            <h5>Nr:{{encomenda.id}}</h5>
            <h5>Data:{{encomenda.dataEncomenda}}</h5>
            <h5>Nome:{{cliente.nome}}</h5>
            <h5>Morada:{{cliente.morada}}</h5>
            <form method="GET" action="{{ url_for('frontend')}}">
            <table class="table">
                <tr class="table_header">
                    <th class="table_cell">Nr</th>
                    <th class="table_cell">Descricao</th>
                    <th class="table_cell">Preço</th>
                    <th class="table_cell">Quantidade</th>
                    <th class="table_cell">Total</th>
                 </tr>

                <tr class="table_row">
                    <td class="table_cell">{{encomenda.id}}</td>
                    <td class="table_cell"> {{produto.descricao}}</td>
                    <td class="table_cell">{{produto.preco}}€ </td>
                    <td class="table_cell">{{linhaEncomenda.quantidade}} </td>
                    <td class="table_cell">{{encomenda.total}}€ </td>        
                </tr>
            
            </table>
            <input style="margin-left: 800px; margin-top: 20px;" method="POST" href="/frontend" class="guardar_bt" type="submit" value="Voltar para produtos">
        </form>
        </d>
        
        <br><br><br><br><br>

        
        <footer id="rodape">
            <table id="tableFooter">
                
                <tr class="tr1F">
                    <th id="th1"><b>Para Contactar o Aluno: </b></th>
                    <td class="td1footer">
                        <li id="emailSite">
                            <a href="mailto:aluno220204@epad.edu.pt">aluno220204@epad.edu.pt</a>
                        </li>
                    </td>
                </tr>
                <br>
    
                
                <tr class="tr2F">
                    <th id="th2"><b>A Escola EPAD: </b></th>
                    <td class="td2footer">
                        <li id="emailSite">
                            <div class="divTeste">
                                <a href="https://www.epad.edu.pt/">epad.edu.pt</a>
                            </div>
                        </li>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

</body>
</html>
